html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Century Gothic';
}

.to-do-list {
  max-width: 600px;
}


button[type="submit"] {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ffffff;
  border-color: #B4B4B4;
  color: #B4B4B4;
}

button[type="submit"]:hover, button[type="submit"]:active {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #2ECC71 !important;
  border-color: #B4B4B4 !important;
  color: #ffffff !important;
}


.task-delete-button {
  color: #ff3333;
  background: none;
  border: none;
  padding: 0;
}

.task-delete-button:hover {
  color: #ff7a7a;
}

.task-checkbox-button {
  color: #B4B4B4;
  background: none;
  border: none;
  padding: 0;
}

.task-checkbox-button:hover {
  color: #E4E4E4;
  background: none;
  border: none;
}

.task-completed-checkbox {
  color: #19d11c;
}

.task-completed-checkbox:hover {
  color: #75F777;
}

.category-name {
  color: #B4B4B4;
}

.text-crossed {
  text-decoration: line-through;
}

.field-validation-error {
  color: red;
  font-size: small;
}